body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    background-color: rgb(185, 183, 183);
}

#calc {
    background-color: rgb(26, 19, 19);
    box-sizing: border-box;
    height: 755px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 5px;
    border-radius: 15px;
}

#display {
    background-color: lightyellow;
    width: 440px;
    height: 200px;
    margin: 20px;
    border: 1px solid yellow;
    border-radius: 10px;
    font-size: 60px;
    text-align: left;
    padding : 5px;
}

#op-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn{
    background-color: lightblue;
    box-sizing: border-box;
    margin : 5px 5px;
    width : 104px;
    height : 84px;
    border: 2px solid rgb(238, 238, 30);
    border-radius: 12px;
    text-align: center;
    font-size: 30px;
    padding : 20px 0;
    cursor: pointer;
}

.btn.zero{
    width : 220px;
}

.num{
    background-color: rgb(155, 155, 243);
}
.util{
    background-color: rgb(241, 61, 61);
}